.category-filter {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 10px;
    flex-shrink: 1;
   
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    padding-bottom: 4px;
}


.category-filter::-webkit-scrollbar {
    display: none;
}

.category-filter__btn {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 20px;
    border-radius: 999px;
    border: 1px solid var(--divider);
    background-color: var(--light-gray);
    color: var(--text-dark);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
    flex-shrink: 0; 
    margin-bottom: 0; 
}

.category-filter__btn:hover {
    border-color: var(--blue-hover);
    color: var(--primary-blue);
}

.category-filter__btn--active {
    background-color: var(--primary-blue);
    color: var(--white);
    border-color: var(--primary-blue);
}

@media (max-width: 600px) {
    .category-filter {
        gap: 8px;
        
    }

    .category-filter__btn {
        padding: 6px 14px;
        font-size: 13px;
    }
}